<section class="max-w-screen-xl mx-auto px-4 mt-5">
  <h2 class="text-cyan-600 font-semibold text-2xl mb-5  rounded shadow py-1 px-3">Popular Categories</h2>


  <owl-carousel-o [options]="catOptions">

    @for (category of allCat; track category._id) {
    <ng-template carouselSlide [id]="category._id">
      <div class="card group  cursor-pointer bg-gray-100 rounded-2xl shadow shadow-gray-200 overflow-hidden">
        <img [src]="category.image" class="w-full h-60 " [alt]="category.name">
        <h3 class="text-center text-2xl font-bold my-2 text-cyan-900 group-hover:text-cyan-600 transition-all duration-300">{{category.name}}</h3>
      </div>
    </ng-template>
    }

  </owl-carousel-o>



</section>