<section class="max-w-screen-xl mx-auto px-4 mt-8">
  <owl-carousel-o [options]="sliderOptions">
    <ng-template carouselSlide>
      <img src="/images/img1.avif" class="w-full" alt="slide 1">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img2.avif" class="w-full" alt="slide 2">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img3.avif" class="w-full" alt="slide 3">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img4.avif" class="w-full" alt="slide 4">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img5.avif" class="w-full" alt="slide 5">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img6.avif" class="w-full" alt="slide 6">
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img7.avif" class="w-full" alt="slide 7">
    </ng-template>
  </owl-carousel-o>
</section>